
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "~vue-select/src/scss/vue-select.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~summernote/dist/summernote-bs4.css";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active
{
	background-color:#cbcbcb61;
}
.router-link-exact-active p 
{
	color:#fff!important;
}
.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
    padding-left: 50px !important;
}

@keyframes modal-b-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes modal-fade {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-backdrop {
    opacity: 0.3;
    animation: ease-in-out .3s modal-b-fade;
    transition: all .3s ease-in-out;
}

.modal {
    top: -100px;
    animation: ease-in-out .3s modal-fade;
    transition: all .3s ease-in-out;

    &.show {
        top: 0;
    }
}